/* variables */
:root {
    --light: #fff;
    --primary: #ddd;
    --dark: #333;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}
html {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    color: var(--dark);
}

body {
    background: var(--primary);
    margin: 30px 30px;
    line-height: 1.4;
}

#main {
    background: var(--light);
    border-radius: 5px;
    border: solid var(--light);
    box-shadow: var(--shadow);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: 1fr;
    grid-gap: 10px;
    grid-template-areas: 
    "header header header"
    "img-div img-div img-div"
    "tribute-info tribute-info tribute-info"
    "quote quote quote"
    "footer footer footer" 
}

#header {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    width: 100%;
    background: var(--dark);
    color: var(--light);
    border-radius: 5px;
    box-shadow: var(--shadow);
    grid-area: header;
 } 
#title {
    text-align: center;
    font-size: 2rem;
    padding: 5px;
    margin-bottom: 0px;
}
#title-div {
    /* margin-left: auto;
    margin-right: auto; */
    align-self: center;
    border-bottom: 5px;
    
}
#title-div p{
    text-align: center;
    font-size: 1.0rem;
    font-style: italic;
    text-justify: auto;
}
#img-div{
    grid-area: img-div;
    display: flex;
    flex-direction: column;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* height: 400px; */
    /* width: 300px; */
    padding-top: 0px;
    border-radius: 5px;
}
#img-caption {
    text-align: center;
    font-size: 1rem;
    border-bottom: 0;
}
#tribute-info{
    width: 83%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 0px;
    border-radius: 5px;
    grid-area: tribute-info;
}
#tribute-info p {
    margin: 10px;
    font-size: 1.1rem;
    text-align: justify;
    margin: 0px 15px 0px 15px;
    padding: 5px;
}

h3 {
    margin-left: 15px;
    color: var(--dark);
    font-size: 1.5rem;
    margin-bottom: 0px;
    margin-top: 2px;
}
#quote {
    font-style: italic;
    font-size: 1.3rem;
    width: 82%;
    margin-left: auto;
    margin-right: auto;
    /* background: whitesmoke; */
    grid-area: quote;
}
#link {
    font-size: 1.1rem;
    margin: 0px 0px 0px 15px;
    font-style: normal;
}
.btn {
    height: 40px;
    border: 0px;
    width: 100px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    box-shadow: var(--shadow);
}

.btn-a {
    background: var(--dark);
    color: var(--light);
}

.btn a:hover {
    background: var(--light);
    color: var(--dark);
}

footer {
    text-align: center;
    margin-top: 10px;
    background: var(--dark);
    color: var(--light);
    border-radius: 5px;
    box-shadow: var(--shadow);
    font-size: 1.1rem;
    padding: 10px;
    grid-area: footer;
}